{% extends '_layout/base.html' %}

{% block title %}Personal page{% endblock %}
{% block picedit %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/picedit.css" />
    <script type="text/javascript" src="{{ STATIC_URL }}js/picedit.js"></script>
{% endblock %}

{% block content %}
<h4>Personal page</h4><br>

{% if user.is_authenticated %}
<div id="my_form">
    <form method="post" action="{% url 'edit_user' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{form.as_p}}
        <!--
        <p><img src="{{ user.picture.url }}"
            width="170" height="170">
        </p>
        -->
        <p><input type="submit" value="Save" /></p>        
    </form>
    <a href="{% url 'delete_user' %}" onclick="return confirm('Удалить?')">Delete profile</a>
</div>

<script type="text/javascript">
    $(function() {
        $('#id_picture').picEdit();
    });
</script>
{% endif %}

{% endblock %}